@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 20 7.000000000000001% 90%;
  --foreground: 223.81 -173% 100%;
  --container: 223.81 -173% 100%;
  --primary: 274.93 82% 38%;
  --text: 20.04 14.000000000000002% 4%;
  --text-secondary: 64.09% 0.005 56.366;
}

.dark-mode {
  --background: 20.04 14.000000000000002% 4%;
  --foreground: 24 10% 10%;
  --container: 12 7.000000000000001% 15%;
  --text: 60 5% 96%;
  --text-secondary: 24.01 7.000000000000001% 83%;
}

body {
  @apply bg-background text-text;
}

.brand-icons > .nuxt-icon {
  width: 3em;
  height: 3em;
  margin-bottom: 0.125em;
  vertical-align: middle;
}

/** Home Styles **/

.brand-icons > svg path {
  @apply fill-[#1c1917] dark:fill-[#C0C0C0] !important;
}

.router-link-exact-active {
  @apply border-b-2 border-b-white;
}

.collection-grid {
  @apply grid gap-3;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
}
